
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Container Counter</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="./js/index.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" defer>
    <link rel="stylesheet" href="./css/index.css" defer>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body class="container">
    <div class="jumbotron page-header">
        <h1 class="container-count">Loading Data...</h1>
        <p>Current Containers</p>
    </div>
    <div class="refresh-slider-div container-fluid">
        <div id="slider-refresh-rate"></div>
        <p>
            <label for="refresh-rate">Refresh Rate:</label>
            <input type="text" id="refresh-rate" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
    </div>
    <div class="refresh-slider-div">
        <canvas id="time-chart" width="400"></canvas>
    </div>
</body>
</html>
