<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Address of the cluster. e.g. mycluster.westus.cloudapp.azure.com -->
    <add key="ClusterAddress" value="" />

    <!--Endpoint used by clients to connect to the cluster to perform management and query operations.-->
    <add key="ClientConnectionEndpoint" value="" />

    <!--Endpoint used by clients to connect to the reverse proxy.-->
    <add key="ReverseProxyEndpoint" value="" />

    <!--Thumbprint of server certificate-->
    <add key="ServerCertificateThumbprint" value="" />

    <!--Thumbprint of client certificate-->
    <add key="ClientCertificateThumbprint" value="" />

    <!--Total number of write operations to be performed on the service.-->
    <add key="NumWriteOperationsTotal" value="" />

    <!--Number of write operations sent to the service at any given time.-->
    <add key="NumOutstandingWriteOperations" value="" />

    <!--Total number of read operations to be performed on the service.-->
    <add key="NumReadOperationsTotal" value="" />

    <!--Number of read operations sent to the service at any given time.-->
    <add key="NumOutstandingReadOperations" value="" />

    <!--Size in bytes of the data associated with each operation (i.e. read or write) performed on the service.-->
    <add key="OperationDataSizeInBytes" value="" />

    <!--Number of items (e.g. number of rows in a table) that the operations are distributed across in the service.-->
    <add key="NumItems" value="" />

    <!--Number of clients used to perform the operations on the service.-->
    <add key="NumClients" value="" />

    <!--Target service type on which the operations should be performed. Supported values are the values of the TargetService.Types enumeration defined in TargetService.cs-->
    <add key="TargetServiceType" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="64" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.FabricTransport" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.Internal" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>